@font-face {
	font-family:'didact_gothicregular';
	src:url('fonts/didactgothic-webfont.eot');
	src:url('fonts/didactgothic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/didactgothic-webfont.woff') format('woff'),
	url('fonts/didactgothic-webfont.ttf') format('truetype'),
	url('fonts/didactgothic-webfont.svg#didact_gothicregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'anticregular';
	src:url('fonts/antic-regular-webfont.eot');
	src:url('fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/antic-regular-webfont.woff') format('woff'),
	url('fonts/antic-regular-webfont.ttf') format('truetype'),
	url('fonts/antic-regular-webfont.svg#anticregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'abelregular';
	src:url('fonts/abel-regular-webfont.eot');
	src:url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/abel-regular-webfont.woff') format('woff'),
	url('fonts/abel-regular-webfont.ttf') format('truetype'),
	url('fonts/abel-regular-webfont.svg#abelregular') format('svg');
	font-weight:normal;
	font-style:normal;
}


