/* Global - Resets */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html,body {
	margin:0;
	font:normal 16px/1.25 bluehost,'Segoe UI','Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
	color:#666;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
h1,h2,h3,h4,h5 {
	text-transform:lowercase;
}
/* Global - Headings */
h1,h2,h3,h4,h5,h6 {
	margin:1em 0;
	font-weight:normal;
}
h1 {
	font-size:3em;
	line-height:1em;
}
h2 {
	font-size:2.5em;
	line-height:1em;
}
h3 {
	font-size:2em;
}
h4 {
	font-size:1.625em;
}
h5,h6 {
	font-size:1.2em;
}

#main { width: 100%; }

#main #nav { width: 100%; background-color: #222223; position: relative; z-index: 99; }

#nav, #links, #logo, #search {
 	height: 50px;
}

#main #nav #links { float: left; margin-left: 0px; width: 100%;  }
#main #nav #links #logo { float: left; margin-left: 10px; }
#main #nav #links #logo .urlImg img { margin-left: 0px; margin-top: -3px; }
#main #nav #links #search { float: left; margin-left: 10px; }
#main #nav #links #search input[type=search] { 
	padding: 10px; 
	width: 200px; 
	height: 50px; 
	border: 0px;
	font-size: 1.09em;
	font-weight: normal;
}

#main #nav #links #search input::-webkit-input-placeholder {
   font:normal 16px/1.25 bluehost,'Segoe UI','Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
   font-size: 1.09em;
   color: #999;
}
 
#main #nav #links #search input:-moz-placeholder {
   font:normal 16px/1.25 bluehost,'Segoe UI','Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
   font-size: 1.09em;
   color: #999;
}
 
#main #nav #links #search input:-ms-input-placeholder {
   font:normal 16px/1.25 bluehost,'Segoe UI','Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
   font-size: 1.09em;
   color: #999;
} 

#main #nav #links #search button {
	text-align: center;
	padding: 10px; 
	width: 50px; 
	height: 50px; 
	border: 0px;
	font-size: 1.09em;
	font-weight: normal;
	margin-left: -5px;
	background-color: #f5b400;
}

#main #nav #links  ul { float: left; margin-left: -30px; margin-top: 13px;  }
#main #nav #links  ul li { display: inline; }
#main #nav #links  ul li a {
	height: 25px;
	padding: 10px;
	color: #ebebeb;
	font-size: 1.21em;
	font-weight: normal;
	text-decoration: none;
}

#main #nav #links  ul li a:hover {
	text-decoration: none;
	padding-bottom: 12px;
	border-bottom: 2px solid #ebebeb;
}



#main #section { width: 100%; height: 100px; background-color: #4dbfd9; }
#main #section #col-left { float: left; width: 30%; background-color: #ff896e; }
#main #section #col-center { float: left; width: 50%; background-color: #ffe7c5; }
#main #section #col-right { float: left; width: 20%; background-color: #44a9bf; }





























